/* coolors {
    #94AE89
    #A8BCA1
    #C0DA74
    #BEEDAA
    #D5FFD9
} */
html {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
body {
  font-family: "Mooli", sans-serif;
}
form {
  text-align: left;
  max-width: fit-content;
  padding: 20px;
  border: 2px solid #7aeb02;
  border-radius: 5px;
}

label {
  display: block;
  margin-right: 15px;
  padding-top: 15px;
}
input {
  margin-top: 10px;
}
.form-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 35px;
  text-align: center;
  color: #7aeb02;
  text-shadow: 2px 2px 3px rgb(51, 135, 6);
}
.success {
  font-size: 70px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
iframe {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  margin-top: 15px;
  background-color: #7aeb02b4;
  border: 3px solid #000000dc;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-size: 25px;
  text-align: center;
}
