table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Espacio entre las tablas */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style: none; /* Elimina los puntos de la lista de resultados */
}

/* Estilos para las filas impares en la tabla de equipos y carreras */
tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

/* Estilos para las filas pares en la tabla de equipos y carreras */
tbody tr:nth-child(even) {
    background-color: #ffffff;
}
h2 {
    font-size: 24px;
    margin-top: 20px;
}

.race-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea columnas automáticas */
    gap: 20px; /* Espacio entre elementos */
    
}

.race-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

h4 {
    font-size: 16px;
    color: #007bff; /* Color azul para "Resultados" */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333; /* Color de texto gris oscuro */
}

ul li:before {
    content: '\2022'; /* Agrega un punto redondo como marcador */
    color: #007bff; /* Color azul para el marcador */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}