html {
  height: 100%;
  margin: 0;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.body {
  height: 100vh;
  background-color: #fee9ef;
  color: #321d23;
  display: grid;
  grid-template-rows: 10% 90%  ; /* Tres filas: la primera ajustada al navbar, la segunda toma el resto, y la tercera para el pie de página u otras partes */
}
.navbar {
  grid-row: 1;
}
.content{
background-image: 
  linear-gradient(
      to right,
      rgba(255, 255, 255, 0.658),
      rgba(255, 255, 255, 0.658)
    ),url(/MEDIA-REVELS-LOGO/BACKGROUNDIMGREVELS.png);
  grid-row: 2;
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100%;

}
.sidebar{
margin: 0.4vw;
background-color: #fee9ef;
height: 95%;
border: 2px solid #fee9ef;
border-radius: 0.7vw;
align-self: center;
}


button {
  margin-right: 10px;
}

/* DIV PARA LOS BUTTONS */
.buttons{
  display: flex;
  gap: 1rem;
  margin-right: 5%;
  margin-left: 12%;
}
.followedUsers{
  padding-left: 1.5vw;
}

/* CLASE PARA BUTTONS */
/* .buttons button{
border: 2px solid white;
background-color: #321d23;
color: #fff;
} */

.revels-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.revel {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  height: fit-content;
}

.revel-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}




/* BUTTON 33 */
.button-33 {
  background-color: #000000;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(153, 152, 152, 0.25) 0 1px 2px,rgba(153, 152, 152, 0.25) 0 2px 4px,rgba(153, 152, 152, 0.25) 0 4px 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  transform: scale(1.05) rotate(-1deg);
}