Options +FollowSymLinks

RewriteEngine On
RewriteBase /

RewriteRule ^index$ index.php [L]
RewriteRule ^user/([^/]+)$ user.php?usuario=$1 [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^revel/([^/]+)$ revel.php?id=$1 [L]
RewriteRule ^new$ new.php [L]
RewriteRule ^results$ results.php [L]