body {
  background-image: url("/IMAGES/23143.jpg");
  background-size: cover;
  margin: 0;
  font-family: "Mooli", sans-serif;
  color: #cfd1d0;
}
/* Estilos para el navbar */
.navbar {
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

/* Estilos para la lista de enlaces */
.navbar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

/* Estilos para los elementos de la lista */
.navbar ul li {
  display: inline;
}

/* Estilos para los botones */
.navbar ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.932);
  background-color: rgb(233, 68, 68); /* Color de fondo del botón */
  padding: 8px 16px; /* Espaciado interno del botón */
  border-radius: 4px; /* Bordes redondeados del botón */
  margin-right: 20px;
  transition: background-color 0.3s; /* Transición de color de fondo */
}

/* Estilos para cambiar el color de fondo al pasar el mouse sobre el botón */
.navbar ul li a:hover {
  color: rgb(233, 68, 68);
  background-color: rgba(0, 0, 0, 0.767);
}
.imgIvan {
  display: block;
  text-align: center;
}
/* div imagen carta index  */
.divCardsIndex {
  display: block;

  text-align: center;
}
/* Imagen carta index  */
#cards {
  margin-top: 50px;
  width: 400px;
  height: 600px;
}
h1 {
  text-align: center;
}
.containerHighestCards {
  margin-top: 50px;
  margin: 0 auto;
  width: fit-content; /* Cambiado a "auto" para ajustarse al contenido */
  text-align: center;
}
.containerHighestCards img {
  margin-left: 10px;
  padding: 5px;
  width: 130px; /* Cambiado el ancho al 100% para que las imágenes se ajusten al contenedor */
  height: 200px;
}
.score {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  border-radius: 10px;
  border: 2px solid rgb(210, 212, 210); /* Borde verde para cartas ganadoras */
}
.winner-card {
  border-radius: 10px;
  border: 2px solid green; /* Borde verde para cartas ganadoras */
  background-color: lightgreen; /* Fondo verde claro para cartas ganadoras */
  /* Otros estilos para cartas ganadoras */
}

/* Estilo para cartas perdedoras */
.looser-card {
  border-radius: 10px;
  border: 2px solid red; /* Borde rojo para cartas perdedoras */
  background-color: salmon; /* Fondo salmón para cartas perdedoras */
  /* Otros estilos para cartas perdedoras */
}

/* Estilo para cartas que empatan */
.draw-card {
  border-radius: 10px;
  border: 2px solid yellow; /* Borde amarillo para cartas que empatan */
  background-color: lightyellow; /* Fondo amarillo claro para cartas que empatan */
  /* Otros estilos para cartas que empatan */
}
